.social {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  width: 100%;
  transition: all 175ms ease-in-out;
  padding-right: 2rem;
  text-align: right;
  @include px-and-rem(padding-bottom, 3);
}

svg-icon { display: inline-block;}

.social__icon {
  transition: all 175ms ease-in-out;
  fill: rgba($clr-base-lt, .75);
  width: 36px;
  height: 36px;
  border-radius: 100%;
  transform: translateZ(0);
  @include px-and-rem(margin-left, 1);
  .sidebar--in & {
    fill: white;
  }

  &:hover,
  &:focus {
    background-color: white;
    fill: white;
    fill: $clr-base-extra;
  }
  &:active {
    background-color: transparent;
  }
}
