.social {
  position: absolute;
  top: auto;
  bottom: 0;
  left: px-to-rem(270px);
  right: auto;
  width: 100%;
  text-align: center;
  transition: all 175ms ease-in-out;

  .sidebar--in & {
    left: -0%;
  }
}

svg-icon { display: inline-block;}

.social__icon {
  transition: all 175ms ease-in-out;
  fill: rgba($clr-base-lt, .75);
  width: 36px;
  height: 36px;
  @include px-and-rem(margin-bottom, .25);
  @include px-and-rem(margin, 0 .5 .25);

  .sidebar--in & {
    fill: white;
  }
}
