sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  color: white;
  z-index: 20;
  width: 40px;
  transition: all 175ms ease-in-out;
  overflow: hidden;
}

.sidebar--in {
  width: 260px;
  background-color: $clr-base;
}

.logo
{
  position: relative;
  @include px-and-rem(padding, 0 2);
  display: block;
  width: 260px;
  transform: translateX(-100%);
  transition: all 175ms ease-in-out 0ms;
  opacity: 0;
  z-index: 10;

  .sidebar--in & {
    transform: translateX(0%);
    opacity: 1;
    transition: all 175ms ease-in-out 80ms;
  }
}
