/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
button { @extend %link--transition;}

%btn {
  border: 1px solid;
  text-transform: uppercase;
  font-weight: bold;
  @include px-and-rem(padding, .5 2);

  @extend %btn;
  @extend %link--transition;
  @extend %fs--milli;

  &[disabled],
  &:disabled {

    &,
    &:hover,
    &:focus,
    &:active {}
  }
}

.btn--base {
  @extend %btn;
  color: $clr-base-dk;

  &:hover,
  &:focus {
    color: $clr-ntrl-min;
    background-color: $clr-base-dk;
    border-color: $clr-base-dk;
  }

  &:active {
    background-color: transparent;
    color: $clr-base-dk;
  }
}
