/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
button { @extend %link--transition;}

%btn {
  @extend %btn !optional;
  @extend %link--transition;
  border: 1px solid;
  text-transform: uppercase;
  @include px-and-rem(padding, .5 2);

  &[disabled],
  &:disabled {

    &,
    &:hover,
    &:focus,
    &:active {

    }
  }
}

.btn--base {
  @extend %btn;
  color: $clr-base;

  &:hover,
  &:focus {
    color: $clr-base-lt;
  }

  &:active {
    color: $clr-base-dk;
  }
}
