maincontent {
  // g--auto - see grid scss
  @extend %grid__item;

  @if $use-legacy-grid {
      .oldie & { display: table-cell;}
  }

  @if $use-flexbox-grid { flex: 1;}
  //\ g--auto

  position: relative;
  background-color: $clr-primary;
}
