<div [hidden]="submitted">
  <form *ngIf="active" (ngSubmit)="onSubmit()" #loginForm="ngForm" class="gw">
    <fieldset class="g g-1/2">
      <div>
        <label for="name">Name</label>
        <input required id="name" placeholder="your name" [(ngModel)]="model.name" (ngModelChange)="model.name = $event" name="name" type="text">
      </div>
      <div>
        <label for="email">Email</label>
        <input required id="email" placeholder="your.email@domain.com" [(ngModel)]="model.email" (ngModelChange)="model.email = $event" name="email" type="text">
      </div>
    </fieldset>
    <fieldset class="g g-1/2">
      <label for="">Message</label>
      <textarea required id="message" placeholder="your message" [(ngModel)]="model.message" (ngModelChange)="model.message = $event" name="message" cols="30" rows="10"></textarea>
    </fieldset>
    <fieldset class="g g-1/1 text--left soft--top">
      <button [disabled]="!loginForm.form.valid" class="btn--base" type="submit">SEND ME</button>
    </fieldset>
  </form>
</div>
<div [hidden]="!submitted">
  <h2>Thank you for contacting us! I'll get back to you soon.</h2>
  <div class="gw">
    <fieldset class="g g-1/2">
      <div class="push--bottom">
        <label for="name">Name:</label>
        <div>{{ model.name }}</div>
      </div>
      <div class="push--bottom">
        <label for="email">Email:</label>
        <div>{{ model.email }}</div>
      </div>
    </fieldset>
    <fieldset class="g g-1/2">
      <div class="push--bottom">
        <label for="message">Message:</label>
        <div>{{ model.message }}</div>
      </div>
    </fieldset>
    <fieldset class="g g-1/1 text--left soft--top">
      <button class="btn btn--base" (click)="submitted=false">Resend</button>
    </fieldset>
  </div>
</div>
