{{diagnostic}}
<div  [hidden]="submitted">
  <form *ngIf="active" (ngSubmit)="onSubmit()" #loginForm="ngForm" class="gw">
    <fieldset class="g g-1/2">
      <div>
        <label for="name">Name</label>
        <input required id="name" [(ngModel)]="model.name" (ngModelChange)="model.name = $event" name="name" type="text">
      </div>
      <div>
        <label for="email">Email</label>
        <input required id="email" [(ngModel)]="model.email" (ngModelChange)="model.email = $event" name="email" type="text">
      </div>
    </fieldset>
    <fieldset class="g g-1/2">
      <label for="">Message</label>
      <textarea required id="message" [(ngModel)]="model.message" (ngModelChange)="model.message = $event" name="message" cols="30" rows="10"></textarea>
    </fieldset>
    <fieldset class="g g-1/1 text--left soft--top">
      <button [disabled]="!loginForm.form.valid" class="btn--primary" type="submit">SEND ME</button>
    </fieldset>
  </form>
</div>
<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="gw">
    <fieldset class="g g-1/2">
      <div>
        <label for="name">Name</label>
        <div>{{ model.name }}</div>
      </div>
      <div>
        <label for="email">Email</label>
        <div>{{ model.alterEgo }}</div>
      </div>
    </fieldset>
    <fieldset class="g g-1/2">
      <label for="message">Message</label>
      <div>{{ model.message }}</div>
    </fieldset>
    <fieldset class="g g-1/1 text--left soft--top">
      <button class="btn btn-default" (click)="submitted=false">Edit</button>
    </fieldset>
  </div>
</div>
