/*------------------------------------*\
    $MENU
\*------------------------------------*/
%menu-container {
  @include px-and-rem(padding, 3 0);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  color: white;
  z-index: 20;
  transition: all 175ms ease-in-out;
  width: px-to-rem(280px);
  transform: translateX(-100%);

  .sidebar--in & {
    transform: translateX(0%);
    background-color: $clr-base;
  }
}

  %menu {
    @extend %list--reset;
    display: block;
    @include px-and-rem(padding, 1.66 0);
  }

    %menu__item {
      display: block;
      text-align: right;

      & > a {
        position: relative;
        font-family: $font-header-stack;
        display: block;
        text-transform: uppercase;
        outline: 0;
        @include px-and-rem(padding-left, 2);
        @include px-and-rem(padding-right, 2);
        @include px-and-rem(padding-top, .55);
        @include px-and-rem(padding-bottom, .4);
        line-height: 2.5;
        vertical-align: middle;
        width: px-to-rem(280px);
        margin-left: px-to-rem(-280px);
        color: white;
        transition: all 175ms ease-in-out;

        .sidebar--in & {
          border-radius: 0%;
          margin-left: px-to-rem(0px);

          &:hover,
          &:focus {
            color: $clr-primary-dk;
          }

          &:active {
            color: $clr-primary;
          }
        }

        @include media-query (palm) {
          line-height: 1.5;
        }
      }

      &.scroll-nav-item.scroll-nav-item--current > a {
        color: $clr-primary;

        &:hover,
        &:focus {
          color: $clr-primary-dk;
        }

        &:active {
          color: $clr-primary;
        }
      }

      %menu__sub & { display: block;}
    }

    .menu__item-text {
      @include font-size($fs-h4, 0);
      display: inline-block;
      position: relative;
      transition: all 175ms ease-in-out;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 63%;
        left: 0;
        right: 0;
        border-bottom: 1px solid;
        color: inherit;
        opacity: 0;
      }

      @include media-query (palm) {
        @include font-size($fs-h5, 0);
      }
    }

    .menu__item { @extend %menu__item;}

    %menu__item--current {
      & > a {
        &,
        &:hover,
        &:focus,
        &:active {
          cursor: default;
          color: transparent;
          .sidebar--in & { color: $clr-primary;}
        }
      }

      & .menu__item-text:before { opacity: 1;}

      &.scroll-nav-item {
        & .menu__item-text:before { opacity: 0;}

        &.scroll-nav-item--current {
          & .menu__item-text:before { opacity: 1;}
        }
      }

      &.scroll-nav-item > a {
        color: white;

        &:hover,
        &:focus {
          color: $clr-primary-lt;
        }

        &:active {
          color: $clr-primary;
        }
      }
    }
    .menu__item--current,
    .menu__item--current-parent { @extend %menu__item--current;}

      %menu__sub {
        @extend %list--reset;
        @extend %link--transition;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        position: absolute;

        a:hover + &,
        &:hover {
          border: 1px solid $base-ui-color;
          max-height: none;
          overflow: visible;
        }

        & a {
          min-width: 225px;
          white-space: nowrap;

        }

        // uncollapse menu__sub links when grandparents are hovered
        a:hover + & > %menu__item a,
        &:hover > %menu__item > a {
          max-height: 8em;
          padding-top: 1em;
          padding-bottom: 1em;
          opacity: 1;
        }
      }
      .menu__sub { @extend %menu__sub;}

        %menu__sub %menu__sub {
          top: 0;
          left: 100%;
        }
