/*------------------------------------*\
    $MENU
\*------------------------------------*/
%menu-container {
  @include px-and-rem(padding, 1.66 0);
}

  %menu {
    @extend %list--reset;
    display: block;
    @include px-and-rem(padding, 1.66 0);
  }

    %menu__item {
      display: block;
      text-align: right;

      & > a {
        position: relative;
        font-family: $font-header-stack;
        display: block;
        text-transform: uppercase;
        outline: 0;
        @include px-and-rem(padding-left, .35);
        @include px-and-rem(padding-right, .25);
        @include px-and-rem(padding-top, .55);
        @include px-and-rem(padding-bottom, .4);
        line-height: normal;
        vertical-align: middle;
        margin-left: .15rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 1.95rem;
        color: transparent;
        opacity: .75;
        transition:
          background-color 175ms ease-in-out,
          width 175ms ease-in-out,
          font-size 175ms ease-in-out,
          color 175ms ease-in-out,
          background-color 175ms ease-in-out,
          border-radius 175ms ease-in-out,
          margin 0ms ease-in-out,
          padding 0ms ease-in-out;

        & span:first-letter {
          color: white;
          @include font-size($fs-h4, 0);
          transition: all 175ms ease-in-out;
        }

        & span {
          font-size: 0px;
          display: inline-block;
          position: relative;
          transition: all 175ms ease-in-out;
          .sidebar--in & {
            @include font-size($fs-h4, 0);
          }

          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 63%;
            left: 0;
            right: 0;
            border-bottom: 1px solid;
            color: inherit;
            opacity: 0;
          }
        }


        &:after {
          content: "";
          display: block;
          background-color: $clr-base;
          transition: all 175ms ease-in-out;
          height: 2rem;
          border-radius: 100%;
          width: 2rem;
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          .sidebar--in & {
            width: 50vw;
            height: 50vw;
          }
        }


        .sidebar--in & {
          width: px-to-rem(260px);
          width: auto;
          line-height: 2.5;
          color: white;
          opacity: 1;
          @include px-and-rem(padding-left, 2);
          @include px-and-rem(padding-right, 2);
          border-radius: 0%;
          margin: 0;
          transition:
            background-color 175ms ease-in-out 75ms,
            width 175ms ease-in-out,
            font-size 175ms ease-in-out,
            color 175ms ease-in-out,
            background-color 175ms ease-in-out,
            border-radius 175ms ease-in-out,
            margin 0ms ease-in-out,
            padding 0ms ease-in-out;

          &:hover,
          &:focus {
            color: $clr-primary-dk;
          }

          &:active {
            color: $clr-primary;
          }
        }
      }

      %menu__sub & { display: block;}
    }
    .menu__item { @extend %menu__item;}

    %menu__item--current {
      & > a {
        &,
        &:hover,
        &:focus,
        &:active {
          cursor: default;
          & span:before { opacity: 1;}
          color: transparent;
          & span:first-letter { color: $clr-primary;}
          .sidebar--in & { color: $clr-primary;}
        }

        &[pageScroll] {
          cursor: cursor;
          color: white;
          & span:before { opacity: 0;}

          &:hover,
          &:focus {
            color: $clr-primary-lt;
          }

          &:active {
            color: $clr-primary;
          }
        }
      }
    }
    .menu__item--current,
    .menu__item--current-parent { @extend %menu__item--current;}

      %menu__sub {
        @extend %list--reset;
        @extend %link--transition;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        position: absolute;

        a:hover + &,
        &:hover {
          border: 1px solid $base-ui-color;
          max-height: none;
          overflow: visible;
        }

        & a {
          min-width: 225px;
          white-space: nowrap;

        }

        // uncollapse menu__sub links when grandparents are hovered
        a:hover + & > %menu__item a,
        &:hover > %menu__item > a {
          max-height: 8em;
          padding-top: 1em;
          padding-bottom: 1em;
          opacity: 1;
        }
      }
      .menu__sub { @extend %menu__sub;}

        %menu__sub %menu__sub {
          top: 0;
          left: 100%;
        }
