/*------------------------------------*\
    $PRIMARY MENU
\*------------------------------------*/
.menu-toggler {
  position: fixed;
  width: 36px;
  height: 36px;
  background-color: $clr-base;
  color: white;
  -webkit-appearance: none;
  border: none;
  border-radius: 100%;
  outline: none;
  z-index: -1;
  display: none;
  @include px-and-rem(margin, .25);

  @include media-query (palm) {
    z-index: 20;
    display: inline-block;
  }
}

.toggle__icon {
  width: 100%;
  fill: white;

  & > svg {
    vertical-align: middle;
  }
}

.menu--primary-container {
  @extend %menu-container;

  @include media-query (palm) {
    transform: translateX(-40px);
    transition: all 175ms ease-in-out;

    .sidebar--in & {
      transform: translateX(0px);
    }
  }
}

  .menu--primary {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transition: all 0ms linear;
    transform: translateZ(0) translateY(-50%);

    .sidebar--in & {
      transform: translateZ(0) translateY(-50%) translateX(0%);
    }

    @include media-query (lap) {
    }


    @extend %menu;

    & %menu__item {
      letter-spacing: .15em;
    }
  }


