/*------------------------------------*\
    $PRIMARY MENU
\*------------------------------------*/
.menu-toggler {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: $clr-base;
  color: white;
  -webkit-appearance: none;
  border: none;
  border-radius: 100%;
  outline: none;
  z-index: 25;
  display: inline-block;
  @include px-and-rem(margin, .75);
  @include px-and-rem(padding, 8px);
  stroke: white;
  fill: none;
  transition: all 175ms ease-in-out;
  opacity: .75;
  transform: translateZ(0);

  &:hover {
    stroke: white;
    opacity: 1;

    .sidebar--in & {
      background-color: $clr-base-extra;
    }
  }
  &:active {
    stroke: white;
  }
}

#burger-bar-one {
  opacity: 1;
  stroke-dasharray: 412px 1500px;
}
#burger-bar-two {
  opacity: 1;
  stroke-dasharray: 412px 1500px;
}
#burger-bar-three {
  opacity: 1;
}

.burger-path {
  fill: transparent;
  stroke-width: 67px;
  stroke: #000000;
  stroke-linecap: round;
  opacity: 0;
  stroke: inherit;
}

.toggle__icon {
  width: 100%;
  fill: white;

  & > svg {
    overflow: visible;
    vertical-align: middle;
  }
}

.menu--primary-container {
  @extend %menu-container;
}

  .menu--primary {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transition: all 0ms linear;
    transform: translateZ(0) translateY(-50%);

    .sidebar--in & {
      transform: translateZ(0) translateY(-50%) translateX(0%);
    }

    @extend %menu;

    & %menu__item {
      letter-spacing: .15em;
    }
  }


