<nav myFullHeight class="menu--primary-container">
  <a class="logo" routerLink="/who">
    <img src="{{ logoUrl }}" alt="">
  </a>
  <ul appMenu class="menu--primary">
    <li routerLinkActive="menu__item--current" class="menu__item" *ngFor="let navItem of navItems">
        <a *ngIf="navItem.hash == undefined" routerLink="{{navItem.link}}">{{ navItem.title }}</a>
        <a *ngIf="navItem.hash != undefined"
          routerLink="{{navItem.link}}"
          pageScroll
          [pageScrollDuration]="250"
          href="#{{navItem.hash}}"
        >{{ navItem.title }}</a>
    </li>
  </ul>
  <div class="social">
    <a iconDirr [iconName]="github"></a>
    <a iconDirr [iconName]="linkedin"></a>
    <a iconDirr [iconName]="twitter"></a>
  </div>
</nav>
          <!-- pageScroll [pageScrollDuration]="400" -->
