<nav myFullHeight class="menu--primary-container">
  <a class="logo" routerLink="/who">
    <img src="{{ logoUrl }}" alt="">
  </a>
  <ul appMenu class="menu--primary">
    <li routerLinkActive="menu__item--current" class="menu__item" *ngFor="let navItem of navItems">
        <a *ngIf="navItem.hash == undefined"
          routerLink="{{navItem.link}}"
          (mouseover)="toggleNavigationIn()"
        ><span>{{ navItem.title }}</span></a>
        <a *ngIf="navItem.hash != undefined"
          routerLink="{{navItem.link}}"
          pageScroll
          (mouseover)="toggleNavigationIn()"
          [pageScrollDuration]="250"
          href="#{{navItem.hash}}"
        ><span>{{ navItem.title }}</span></a>
    </li>
  </ul>
  <div class="social">
    <a iconDirr [iconName]="github"></a>
    <a iconDirr [iconName]="linkedin"></a>
    <a iconDirr [iconName]="twitter"></a>
  </div>
</nav>
