<section id="when" class="bgc--secondary soft--large">
  <div class="content--left">
    <h1>
      when_ <small>can you get in touch?</small>
    </h1>
    <p class="flush--bottom">
      Anytime, how about now? Whether you want to grab a coffee, chat about nerdy stuff or get quote from me just drop me a mail below and I will get back to you.
    </p>
  </div>
</section>
<section class="bgc--base-ltr soft--large">
  <div class="content--left">
    <form action="" class="gw">
      <fieldset class="g g-1/2">
        <div>
          <label for="">Name</label>
          <input type="text">
        </div>
        <div>
          <label for="">Email</label>
          <input type="text">
        </div>
      </fieldset>
      <fieldset class="g g-1/2">
        <label for="">Message</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </fieldset>
      <fieldset class="g g-1/1 text--right soft--top">
        <button type="submit">SEND ME</button>
      </fieldset>
    </form>
  </div>
</section>
<section id="where" myFullPage class="google-map-wrapper">
  <div class="google-map-overlay">
    <h1>where_ <small>am I located?</small></h1>
    <p class="flush--bottom">I am currently living in Johannesburg, South Africa. But that’s the cool thing about what I do, I can literally do it from anywhere in the world. Awesome, right?</p>
  </div>
  <sebm-google-map [disableDefaultUI]="true" [scrollwheel]='false' [zoom]="10" [latitude]="lat" [longitude]="lng" [styles]="mapStyles">

    <sebm-google-map-circle [latitude]="lat - 0.1" [longitude]="lng - 0.05"
        [radius]="15000"
        [fillColor]="'#edd54f'"
        [circleDraggable]="false"
        [editable]="false">
    </sebm-google-map-circle>

  </sebm-google-map>
</section>
