.google-map-wrapper {
  position: relative;
}

.sebm-google-map-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.google-map-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  background-color: rgba(white, .8);
  @extend %section--padding;
}
