<section class="soft--large bgc--tertiary">
  <h1>
    Why_ <small>pick me?</small>
  </h1>
  <p>
    <span since></span> of work experience, and counting!
  </p>
  <p class="flush--bottom">
    I am a young full stack web developer with an eye for beatifull design and rich, interactive user interfaces. I have experience in various frameworks and CMS´s. I also pack the power of acedemia with a B.Sc degree in Computer Science and Information Technology.
  </p>
</section>
<section class="soft--large bgc--">
  <h2>My Sklills</h2>
  <p>I have skills in alot of different places. Here they are in two main groups:</p>
  <h3>Front End</h3>
  <canvas width="100%" barChart [heightRatio]=".6" [lengths]="[1,2,3]"></canvas>
  <h3>Back End</h3>
</section>
