<button class="menu-toggler" #togglerable (click)="toggleNav()">
  <svg-icon
    class="toggle__icon"
    [iconName]="'burger'">
  </svg-icon>
</button>
<nav myFullPage class="menu--primary-container">
  <a class="logo" routerLink="/who">
    <img src="{{ logoUrl }}" alt="">
  </a>
  <ul class="menu--primary">
    <li routerLinkActive="menu__item--current" class="menu__item" *ngFor="let navItem of navItems">
        <a (click)="navigationClick()" *ngIf="navItem.hash == undefined"
          routerLink="{{navItem.link}}"
          (mouseover)="toggleNavigationIn()"
        ><span class="menu__item-text">{{ navItem.title }}</span></a>
        <a (click)="navigationClick()" *ngIf="navItem.hash != undefined"
          routerLink="{{navItem.link}}"
          (mouseover)="toggleNavigationIn()"
          scrollNavigation
          [dataHash]="navItem.hash"
          [dataLink]="navItem.link"
        ><span class="menu__item-text">{{ navItem.title }}</span></a>
    </li>
  </ul>
  <div class="social">
    <a target="_blank" href="https://za.linkedin.com/in/dewaldlaubscher"><svg-icon class="social__icon" [iconName]="'linkedin'"></svg-icon></a>
    <a target="_blank" href="https://twitter.com/dewwwald"><svg-icon class="social__icon" [iconName]="'twitter'"></svg-icon></a>
    <a target="_blank" href="http://github.com/dewwwald"><svg-icon class="social__icon" [iconName]="'github'"></svg-icon></a>
  </div>
</nav>
