<section class="section--padding bgc--tertiary">
  <h1>
    why_ <small>pick me?</small>
  </h1>
  <p>
    <strong><em since></em></strong> of work experience, and counting!
  </p>
  <p class="flush--bottom">
    I am a young full stack web developer with an eye for beautiful design and rich, interactive user interfaces. I have experience in various frameworks and Content Management Systems. My academic B.Sc degree in Computer Science and Information Technology provides a solid base for growth. I like taking ownership of my work and really enjoy working in a team environment. I am always eager to collaborate, learn new things and solve a problem over a cup of coffee.
  </p>
</section>
<section class="section--padding">
  <h1>my skills:
    <small>Full stack development</small>
  </h1>
  <p>Skills ranging from backend to front end.</p>
  <svg-chart [barColor]="'rbg(255, 255, 255)'" [ratioWidth]="4" [ratioHeight]="1.5" [dataKey]="'dataPoints'"></svg-chart>
</section>
