/*------------------------------------*\
    $MENU
\*------------------------------------*/
%menu-container {
  @include px-and-rem(padding, 1.66 0);
}

  %menu {
    @extend %list--reset;
    display: block;
    @include px-and-rem(padding, 1.66 0);
  }

    %menu__item {
      position: relative;
      display: block;
      text-align: right;

      & > a {
        position: relative;
        font-family: $font-header-stack;
        display: inline-block;
        color: white;
        text-transform: uppercase;
        line-height: 2.5;
        outline: 0;
        @include px-and-rem(padding-left, 2);
        @include px-and-rem(padding-right, 2);

        @extend %fs--h4;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 63%;
          @include px-and-rem(left, 2);
          @include px-and-rem(right, 2);
          border-bottom: 1px solid;
          color: inherit;
          opacity: 0;
        }

        &:hover,
        &:focus {
          color: $clr-primary-lt;
        }

        &:active {
          color: $clr-primary;
        }
      }

      %menu__sub & { display: block;}
    }
    .menu__item { @extend %menu__item;}

    %menu__item--current {
      & > a {
        &,
        &:hover,
        &:focus,
        &:active {
          cursor: default;
          color: $clr-primary;
          &:before { opacity: 1;}
        }

        &[pageScroll] {
          cursor: cursor;
          color: white;
          &:before { opacity: 0;}

          &:hover,
          &:focus {
            color: $clr-primary-lt;
          }

          &:active {
            color: $clr-primary;
          }
        }
      }
    }
    .menu__item--current,
    .menu__item--current-parent { @extend %menu__item--current;}

      %menu__sub {
        @extend %list--reset;
        @extend %link--transition;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        position: absolute;

        a:hover + &,
        &:hover {
          border: 1px solid $base-ui-color;
          max-height: none;
          overflow: visible;
        }

        & a {
          min-width: 225px;
          white-space: nowrap;

        }

        // uncollapse menu__sub links when grandparents are hovered
        a:hover + & > %menu__item a,
        &:hover > %menu__item > a {
          max-height: 8em;
          padding-top: 1em;
          padding-bottom: 1em;
          opacity: 1;
        }
      }
      .menu__sub { @extend %menu__sub;}

        %menu__sub %menu__sub {
          top: 0;
          left: 100%;
        }
