/*------------------------------------*\
    $PRIMARY MENU
\*------------------------------------*/
.menu--primary-container {
  @extend %menu-container;
}

  .menu--primary {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transition: all 0ms linear;
    transform: translateZ(0) translateY(-50%) translateX(-10%);

    .sidebar--in & {
      transform: translateZ(0) translateY(-50%) translateX(0%);
    }

    @include media-query (lap) {
    }


    @extend %menu;

    & %menu__item {
      letter-spacing: .15em;
    }
  }


