/*------------------------------------*\
    $BACKGROUND COLORS
\*------------------------------------*/
.bgc--primary-dk { background-color: $clr-primary-dk;}
.bgc--primary    { background-color: $clr-primary;}
.bgc--primary-lt { background-color: $clr-primary-lt;}

.bgc--secondary-dk { background-color: $clr-secondary-dk;}
.bgc--secondary    { background-color: $clr-secondary;}
.bgc--secondary-lt { background-color: $clr-secondary-lt;}

.bgc--tertiary-dk { background-color: $clr-tertiary-dk;}
.bgc--tertiary    { background-color: $clr-tertiary;}
.bgc--tertiary-lt { background-color: $clr-tertiary-lt;}

.bgc--base-dk { background-color: $clr-base-dk;}
.bgc--base    { background-color: $clr-base;}
.bgc--base-lt { background-color: $clr-base-lt;}
.bgc--base-ltr { background-color: $clr-base-ltr;}
