<section class="gw--no-guts">
  <article *ngFor="let item of portfolio; let i = index" class="g g-palm-1/1 g-1/2 g-desk-wide-1/3">
    <div slideHover halfPageHeight class="portfolio-item">
      <div class="portfolio-item__inner">
        <img imageCover [zIndex]="5" class="portfolio-item__image" src="{{ item.img.url }}" alt="{{ item.img.alt }}">
        <div bgcModifier="{{i}}, .9" class="portfolio-item__over">
          <div class="portfolio-item__center">
            <h2 class="portfolio-item__title">{{ item.title }}</h2>
            <p class="portfolio-item__short">
              {{ item.description }}
            </p>
            <a class="btn btn--base" target="_black" href="{{ item.link }}">
            explore<span class="visuallyhidden"> website in embedded window</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
